<!DOCTYPE html>
<html lang="nl-BE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <title>Landingspagina</title>
</head>
<body class="register-body">

    <header class="container d-flex justify-content-center align-items-center">
        <nav>
          <h1 class="landing-title pt-4 my-3">Fellowship of the Code</h1>
        </nav>
    </header>

    <main class="container login-main">
      <form action="/register" method="post" id="loginForm">

        <!-- <a href="/" style="text-decoration: none;"><h1 class="landing-title mb-5">Fellowship of the Code</h1></a> -->
        <!-- <% if (usernameError) { %>
          <div class="alert alert-danger">
              <%= usernameError %>
          </div>
        <% } %>
      
        <% if (emailError) { %>
            <div class="alert alert-danger">
                <%= emailError %>
            </div>
        <% } %>
      
        <% if (requiredError) { %>
          <div class="alert alert-danger">
              <%= requiredError %>
          </div>
        <% } %>

        <% if (passwordError) { %>
          <div class="alert alert-danger">
              <%= passwordError %>
          </div>
        <% } %> -->

        <section class="mb-2">
          <label for="signupUsername" class="form-label">gebruikersnaam
            <span class="required">*</span>
          </label>
          <input name="signupUsername" type="text" class="form-control rounded" id="signupUsername">
        </section>

        <section class="mb-2">
          <label for="signupEmail" class="form-label">e-mailadres
            <span class="required">*</span>
          </label>
          <input name="signupEmail" type="email" class="form-control" id="signupEmail">
        </section>

        <section class="mb-3">
          <label for="signupPassword" class="form-label">wachtwoord
            <span class="required">*</span>
          </label>

          <section class="input-group">
            <input name="signupPassword" type="password" class="form-control rounded mb-2" id="signupPassword">
            <!-- <button class="btn btn-outline-secondary" type="button" id="toggleSignupPassword">
              <i class="bi bi-eye-slash"></i>
            </button> -->
          </section>

          <label for="repeatPassword" class="form-label">
            herhaal wachtwoord<span class="required">*</span>
          </label>

          <section class="input-group">
            <input name="repeatPassword" type="password" class="form-control rounded" id="repeatPassword">

            <!-- <button class="btn btn-outline-secondary" type="button" id="toggleRepeatPassword">
              <i class="bi bi-eye-slash"></i>
            </button> -->
          </section>
        </section>

        <button type="submit" class="btn bg-body-tertiary border-dark mb-2 SignupBtn rounded">account aanmaken</button>
        <p style="margin: 0;">terug naar 
          <span id="backToLoginBtn" class="btn-link" style="cursor: pointer;">aanmelden</span>
        </p>
      </form>
    </main>

<!---footer--->
  <!-- <div>
    <svg class="waves-container pt-4" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(248,249,250,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(248,249,250,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(33, 37, 41, 0.1)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(33, 37, 41)" />
        </g>
    </svg>
  </div> -->

  <footer class="login-footer font-small unique-color-dark text-center py-3">
    <article class="text-light" style="margin-right: 4rem;">
      <p class="mb-0"">© 2024 Fellowship of the Code</p>
    </article>

    <a href="#!">
      <i class="bi bi-twitter-x text-light"></i>
    </a>
  
    <a href="#!">
      <i class="bi bi-facebook text-light"></i>
    </a>
  
    <a href="#!">
      <i class="bi bi-github text-light"></i>
    </a>
  
    <a href="#!">
      <i class="bi bi-linkedin text-light"></i>
    </a>
  </footer>
</body>
</html>
