* { box-sizing: border-box; margin: 0; padding:0; }

/* //landingspagina */
html, body {
  height: 100%;
}

.landing-body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif !important;
}

.register-body,
.login-body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-image: url("/lord.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
}

/* // .login-body::before,
// .register-body::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(255, 255, 255, 0.6);
//   z-index: -1;
// }

// .login-body,
// .register-body {
//   background-image: url("/assets/images/landingpage/lord.jpg");
//   background-size: cover;
//   background-position: center;
//   font-family: "Poppins", sans-serif !important;
// } */

#loginForm {
  width: 400px;
  margin: auto;
  border: 3px black solid;
  padding: 1rem;
}

.login-main {
  display: flex;
  border: 1px solid black;
  height: 100%;
}

header {
  border: 1px solid rgb(166, 3, 3);
}

.game-container {
  position: relative;
  padding: 0;
  margin: 0;
}

.landing-card-title {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif !important;
}

.landing-card-text {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif !important;
}

.landing-title {
  color: #161616;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "poppins", sans-serif !important;
}

/* // .login-header {
//   min-height: 15vh !important;
// } */

.login-footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* // font-size: 0.9rem; */
  background-color: black;
}

.login-footer .bi {
  margin: 0;
  padding: 0;
  /* // font-size: 0.9rem; */
  margin-right: 1rem;
  padding: 0.2rem;
}

.required {
  color: darkred;
}

.card img {
  border-radius: 3px !important;
}

.custom-disabled-button {
  opacity: 0.65;
}

.game-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: none;
}

#togglePassword,
#toggleSignupPassword,
#toggleRepeatPassword {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.btn-link {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  color: var(--bs-primary);
}

.btn-link:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  text-decoration: underline;
}

#togglePassword:hover {
  background-color: red;
}

.input-group {
  position: relative;
}

.input-group .btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /* z-index: 10; */
  border: none;
  color: gray;
}

#togglePassword:hover,
#toggleRepeatPassword:hover,
#toggleSignupPassword:hover {
  background-color: transparent !important;
}

.btn {
  z-index: 100;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
.uneditable-input:focus {
  border-color: var(--bs-primary);
  box-shadow: 0px 0px 3px 0.4px rgba(0, 123, 255, 0.431372549);
  outline: none;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input {
  border: 1px solid #000000;
  padding: 0.3rem;
}

.form-check-input[type=checkbox] {
  box-shadow: none;
  border: 1px solid #ced4da;
  cursor: pointer;
}

.tos a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.tos a:hover {
  text-decoration: underline;
}

.tos {
  font-size: 0.67rem;
}

.card {
  background-color: #ffffff;
  border: none;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 400px;
}

/* // .waves-container {
//   position: absolute;
//   width: 100%;
//   height: 15vh;
//   margin-bottom: 95px;
//   bottom: 0;
//   left: 0;
//   z-index: -1;
// } */

.parallax>use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }
}